*{
    box-sizing: border-box;
}

html{
    background-color: #fcf3e8;
    font-family: futura;
}
/* Navbar CSS*/
nav {
   display: flex; 
   height: 90px;
   background-color:#b2d9ea;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
  

}

h1{
    font-size: 35px;
    font-family: futura;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: futura;
    text-indent: 5px;

}




